
.header {
  background-color: rgb(5, 91, 62);
  height: 70px;
  margin: 0;
  left: 0px;
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 3;
}

#logo {
  float: left;
  margin: 20;
  height: 70px;
  width: 70px;
}

#main_nav {
  float: right;
}
  
#main_nav li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  }

li a {
  color: white;
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

